.header {
  min-height: 293px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 18px 8px;
}

.header_logo-image {
  width: 148px;
  height: 105px;
  margin-right: 184px;
}

.header__menu-list {
  font-size: 18px;
  font-weight: normal;
  font-family: Raleway, sans-serif;
  font-style: normal;
  display: flex;
  gap: 30px;
}

.address {
  font-size: 18px;
  font-weight: normal;
  font-family: Raleway, "Inter", sans-serif;
  font-style: normal;
  justify-self: end;
  display: flex;
  flex-direction: column;
  width: 240px;
  min-height: 98px;
}

.mail {
  text-underline-offset: 3.5px;
  line-height: 24.3px;
  text-decoration-thickness: 1px;
}

.tel {
  text-underline-offset: 3.5px;
  line-height: 24.3px;
  text-decoration-thickness: 1px;
}

.address-address {
  line-height: 24.3px;
}

.header__menu-item {
  list-style: circle;
}

.header__menu-link {
  text-decoration: underline;
  list-style: circle;
  text-decoration-thickness: 1px;
  text-underline-offset: 3.5px;
}

.header__menu-link_active {
  text-decoration: none;
}

.header__menu-item_no-bullit {
  list-style: none;
}

.header_menu {
  margin-left: 50px;
  margin-right: 36.52px;
}

.cover {
  min-height: 757px;
  position: relative;
  display: flex;
}

.background-image {
  background-image: url("../images/cover.jpg");
  position: absolute;
  height: 757px;
  z-index: 1;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  display: flex;
  padding: 165px 50px 50px 50px;
  z-index: 2;
  inset: 0;
}

.description {
  position: absolute;
  z-index: 3;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 165px;
  padding-bottom: 50px;
  justify-content: space-between;
  gap: 106px;
}

.description-top {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 365px;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 130%;
}

.description-top-start {
  align-self: flex-start;
  display: flex;
}

.description-top-center {
  align-self: center;
  display: flex;
  margin-left: 44.5px;
}

.description-top-end {
  align-self: flex-end;
  display: flex;
  margin-right: -44.5px;
}

.description-bottom {
  display: flex;
  justify-content: space-between;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 22px;
  align-items: center;
}

.description-bottom-left {
  word-spacing: 23px;
}

.description-bottom-right {
  border: 1px white solid;
  height: 51px;
  width: 257px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: white;
  text-transform: uppercase;
}

.bet-button {
  border: 1px white solid;
  padding: 11.5px 31.5px;
  background-color: #da161600;
  color: white;
  text-transform: uppercase;
}

.card-link {
  min-height: 100%;
  width: 100%;
  position: relative;
}

.lots {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 723px;
  margin-bottom: 120px;
  justify-content: space-between;
}

.lots__heading {
  align-self: start;
  z-index: 6;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 40px;
}

.lots__card-list {
  flex-direction: row;
  gap: 20px;
  width: 1052px;
  display: flex;
  margin-bottom: 30px;
  margin-top: 7px;
  list-style: none;
  flex-wrap: wrap;
}

.lots__card-list-item {
  min-height: 596px;
  width: 334px;
}

.card {
  position: relative;
  display: flex;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  z-index: 9;
  color: white;
  padding: 48px 40px;
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-size: 22px;
  text-underline-offset: 4px;
}

.card__text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 1;
}

.card__content-picture {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  justify-content: space-between;
  z-index: 9;
  color: white;
  padding: 48px 40px;
}

.lots__look-more-link {
  padding-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-decoration: underline;
  text-transform: lowercase;
  line-height: 100%;
  text-underline-offset: 5px;
}

.about {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  margin-bottom: 180px;
}

.about__logo-image {
  height: 277px;
  width: 287px;
  padding-left: 47px;
  padding-top: 37px;
}

.about__column-right {
  grid-column: 2/4;
  padding-top: 133px;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__text {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 20.1px;
  gap: 24px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 100px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 180px;
}

.footer-address {
  justify-self: start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 18px;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
